@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>Kategori ID</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.KategoriID</td>
                <td>@x.KategoriAd</td>
                <td><a href="/Kategori/KategoriSil/@x.KategoriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@x.KategoriID" class="btn btn-info">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-success">Yeni Kategori Ekle</a>